/*! CSS bare bones for recipes site */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Tilt+Warp&display=swap');

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* the rest is up to you */

button {
  background-color: #B95051;
  text-transform: uppercase;
  border: none;
  padding: 12px 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: relative;
  bottom: 0;
  left: 0;
}

button a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  letter-spacing: 0.2em;
}

body {
  background-color: #E7D4BE;
  font-family: 'Barlow', sans-serif;
  }
  
  h1,h2 {
  color:#B95051;
  font-family: 'Tilt Warp', cursive;
  letter-spacing: 0.05em;
  }

  h2 {
    margin: 1em 0 0 0;
  }
  
  p {
    margin-bottom: 1em;
    line-height: 1.5;
    padding-top: 0.5em;
  }
  
  header {
    background-color: #B95051; 
    position:fixed;
    top: 0;
    padding: 1em 0;
    width: 100%;
    z-index: 3;
    height:6rem;
  }

    header a {
    text-decoration: none;
    color: white;
  } 
  
  header h1 {
    margin: 12px auto;
    color: #E7D4BE;
    text-align: center;
    font-size: 30pt;
    line-height: 40px;
    height: 40px;
  }

  img {
    display: block;
    float: right;
    position: sticky;
    width: 50%;
    max-width: 50%;
    padding-left: 1em;
    padding-bottom: 1em;
  } 
  
.cover {
  display: block;
  float: right;
  position: sticky;
  width: 50%;
  max-width: 50%;
  object-fit: cover;
  padding-left: 1em;
  border-radius: 20px;
  padding-top: 1em;
}
nav a {
  color: white;
  text-decoration: none;
}

nav {
  background-color: #B95051;
  display: block;
  width: 15%;
  padding: 10px;
  margin: 0;
min-width: 120px;
position:fixed;
top:7em;
left:0;
z-index: 12;
}

nav ul li {
font-size: .9rem;
}

  h2#ingredients {
  color:#331800;
  }
  
   main p:first-child {
    font-size: 1.2rem;
    color:#B95051;
  } 

  .recipe-teaser p:first-child {
    color: #331800;
  }

  h1 a {
    color:#E7D4BE;
  }

  .recipehere {
  color:#331800;
  } 
  
  .recipe-teaser h1 {
    text-align: center;
  }

  .recipe-teaser h1 a {
    text-decoration: none;
    color: #B95051;
  }

  .recipe-teaser p {
    text-align: justify;
padding-top: 1em;
  }

  main {
    position: relative;
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 12px 30px;
    color: #331800;
    height: auto;
    overflow: hidden;
    margin-top: 112px;
  }
  
  main ul {
    color: #b95051;
    font-size: .9em;
    line-height: 1.5;
    margin-left: 2em;
  }
  
  main ul li {
    margin-top: .4em;
  }
  
main ol li {
  padding-top: 0.4em;
  padding-left: 0.1em
}

  footer {
    display: block;
    text-align: center; 
    padding: 2em;
    color: #331800;
    font-size: 80%;  
  }  

  .list {
display:flex;
flex-wrap: wrap; /* when there is not enough space the content will wrap */
justify-content: space-between;
}

@media screen and (max-width: 700px) {


  main {
    padding:20px;
    max-width: 400px;
    width: 400px;
    position: relative;
    z-index: 1;
  }

.cover {
  width: 90%;
  float: none;
  display: block; 
  margin: 0 auto; 
  max-width: 90%; 
  height: auto; 
}

nav {
  width: 90%;
  display: block;
  position: relative;
  z-index: 2;
  margin:auto;
}

}

@media screen and (max-width: 500px) {

  html {
    font-size: 80%;
  }
  
  header h1 {
  font-size: 1.8em;
  }

  main {
    padding: 40px;
    max-width: 300px;
    width: 300px;
  }
  }
